html, body {
	height: 100%;
	margin: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul, ol, p, a {
	margin: 0;
}

a {
	text-decoration: none;
	outline: none;
}

label {
	display: inline-block;
	margin: 0;
}

button, input, select, textarea {
	font: inherit;
}

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}

.pull-right {
	float: right!important;
}

.pull-left {
	float: left!important;
}

.hide {
	display: none!important;
}

.show {
	display: block!important;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

.headers();

c {
	* {
		color: #000;
		line-height: normal;
		list-style: none;
		font-style: normal;
		font-weight: normal;
		font-size: 100%;
		text-align: left;
		vertical-align: text-top;
		text-indent: 0;
		margin:0;
		padding:0;
	}
	b {
		font-weight: bold;
	}
	line-height: normal;
	display: inline-block;
	vertical-align: top;
	position: relative;
	.headers();
}

c[disabled] {
	pointer-events: none;
}

c.init {
	opacity: 0 !important;
}